@model Models.ViewModels.Clients_ViewModels.User_Registration_View
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My PMS Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Extra Added line on 15-05-2019-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="width:1320px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*  @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("PMS", "PMS", "Home")</li>
                    <li>@Html.ActionLink("Shoes", "Shoe", "Home")</li>
                    <li>@Html.ActionLink("Electronic Gadgets", "Electronic", "Home")</li>
                    <li>@Html.ActionLink("Sneakers", "Sneaker", "Home")</li>
                    <li>@Html.ActionLink("Home Gadgets", "HomeGadget", "Home")</li>
                    <li>@Html.ActionLink("Appliances", "Appliance", "Home")</li>
                    <li>@Html.ActionLink("Mobiles", "Mobile", "Home")</li>
                    <li>@Html.ActionLink("Toys & Baby", "TandB", "Home")</li>
                    <li>@Html.ActionLink("Stationaries", "Stationary", "Home")</li>
                    <li>@Html.ActionLink("Fruits and Vegetables", "FandB", "Home")</li>

                    <li style="padding-left:98px;">

                        <ul class="nav navbar-nav navbar-right"></ul>
                        @if (Session["Login"] == null)
                        {

                            @Html.ActionLink("Login", "Login", "User")
                        }
                        else
                        {
                            string userName = Session["Login"].ToString();
                            string userEmail = Session["Email"].ToString();
                            string userMobile = Session["Mobile"].ToString();

                            @Html.ActionLink(userName, "", "")

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"></a></li>
                                @Html.ActionLink(userEmail, "", "")

                                <li><a href="#"></a></li>
                                @Html.ActionLink(userMobile, "", "")

                                <li><a href="#"></a></li>
                                @Html.ActionLink("Log Out", "Logout", "User")
                            </ul>                                                       
                        </li>
                    }

                    </ul>

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My PMS Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>
