@model Models.ViewModels.Clients_ViewModels.User_Registration_View

@*<div style="text-align:center;text-wrap:unset; width:400px; border:1px solid Gray; align-content:center">*@

@{
    ViewBag.Title = "Login_page";
}
<div style="margin:auto">
    <h2 style="text-align:center">PMS </h2>
</div>

<form method="post" style="text-align:center;">

    <div class="col-md-12">

        @Html.TextBoxFor(m => m.User_Name, new { @placeholder = "Username", @class = "form-control textbox" })
        <br />
        @Html.ValidationMessageFor(m => m.User_Name, "", new { @class = "text-danger " })
    </div>


    <br /><br />
    <div class="form-group">
        <div class="col-md-12">

            @Html.TextBoxFor(m => m.User_Password, new { @placeholder = "Password", @class = "form-control textbox" })
            <br />
            @Html.ValidationMessageFor(m => m.User_Password, "", new { @class = "text-danger " })
        </div>
    </div>


    <br /><br /><br />
    <input id="Submit1" type="submit" value="Login" />
    
    <br /><br /><br />
    <span class="removedot">
        <b>
            @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "text-danger " })
        </b>
    </span>
    New to PMS?
    @Html.ActionLink("Register", "Registration")
    new Account.
</form>



