@model Models.ViewModels.Clients_ViewModels.User_Registration_View

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using (Html.BeginForm("Registration", "User", FormMethod.Post, new
{
    @id = "registerFormId",
    @class = "form-horizontal",
    role = "form"
}))
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger  " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger  " })
        </div>
    </div>
    <div class="form-group">
                      
        @Html.LabelFor(m => m.User_Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User_Name, new { @class = "form-control", @id = "usercheck" })
            <span id="message"></span>
            @Html.ValidationMessageFor(m => m.User_Name, "", new { @class = "text-danger " })
        </div>           
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User_Email_Id, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User_Email_Id, new { @class = "form-control", @id = "usermailcheck" })
            <span id="mailmessage"></span>
            @Html.ValidationMessageFor(m => m.User_Email_Id, "", new { @class = "text-danger  " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User_Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.User_Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User_Address, "", new { @class = "text-danger  " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone_Number, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone_Number, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Phone_Number, "", new { @class = "text-danger  " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User_Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.User_Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User_Password, "", new { @class = "text-danger " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Confirm_Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Confirm_Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Confirm_Password, "", new { @class = "text-danger " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date_Of_Birth, new { @class = "col-md-2 control-label" })
        <div class=" col-md-10">
            @Html.TextBoxFor(m => m.Date_Of_Birth, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(m => m.Date_Of_Birth, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="btn_Register" class="btn btn-default" value="Register" onclick="return test()"/>
            <div class="col-lg-2">
            <input type="reset" class="btn btn-default" value="Reset" />
            </div>
        </div>
        </div>

}

@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")

}




