<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PMS", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav left">
                <li>@Html.ActionLink("Admin User", "Index", "Admin")</li>
                <li>@Html.ActionLink("Users", "Index", "User")</li>
                <li>@Html.ActionLink("Page Details", "Contact", "Home")</li>
                <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                <li>@Html.ActionLink("Privillages", "Contact", "Home")</li>
                <li>@Html.ActionLink("Category", "Contact", "Home")</li>
                <li>@Html.ActionLink("Products", "Contact", "Home")</li>
                <li>@Html.ActionLink("Offers", "Contact", "Home")</li>
                <li>@Html.ActionLink("Invoices", "Contact", "Home")</li>
            </ul><ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            </ul>
        </div>
    </div>
</div>
